## Solutions to lab 21

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///publications.db

## Challenge 1

### Step 1

In [17]:
%%sql
select titles.title_id,
titleauthor.au_id,
titles.price * sales.qty * (CAST(titles.royalty AS REAL) / 100 ) * (CAST(titleauthor.royaltyper AS REAL) / 100) as royal
FROM
sales
left join titles
on sales.title_id = titles.title_id
left join titleauthor
on titles.title_id = titleauthor.title_id

 * sqlite:///publications.db
Done.

[('BU1032', '213-46-8915', 3.9979999999999998),
 ('BU1032', '409-56-7008', 5.996999999999999),
 ('PS2091', '899-46-2035', 1.9709999999999996),
 ('PS2091', '998-72-3567', 1.9709999999999996),
 ('PC8888', '427-17-2319', 50.0),
 ('PC8888', '846-92-7186', 50.0),
 ('PS2091', '899-46-2035', 49.275),
 ('PS2091', '998-72-3567', 49.275),
 ('PS2091', '899-46-2035', 6.569999999999999),
 ('PS2091', '998-72-3567', 6.569999999999999),
 ('TC3218', '807-91-6654', 83.80000000000001),
 ('TC4203', '648-92-1872', 33.46),
 ('TC7777', '267-41-2394', 8.994000000000002),
 ('TC7777', '472-27-2349', 8.994000000000002),
 ('TC7777', '672-71-3249', 11.992000000000003),
 ('PS2091', '899-46-2035', 13.139999999999999),
 ('PS2091', '998-72-3567', 13.139999999999999),
 ('MC3021', '722-51-5454', 13.454999999999998),
 ('MC3021', '899-46-2035', 4.484999999999999),
 ('PS1372', '724-80-9391', 10.795000000000002),
 ('PS1372', '756-30-7391', 32.385000000000005),
 ('PS2106', '998-72-3567', 17.5),
 ('PS3333', '172-32-1176', 29.985),
 ('PS7777', '486-29-1786', 19.975),
 ('BU7832', '274-80-9391', 29.985),
 ('MC2222', '712-45-1867', 23.987999999999996),
 ('BU2075', '213-46-8915', 25.116),
 ('MC3021', '722-51-5454', 8.073),
 ('MC3021', '899-46-2035', 2.691),
 ('BU1032', '213-46-8915', 7.9959999999999996),
 ('BU1032', '409-56-7008', 11.993999999999998),
 ('BU1111', '267-41-2394', 11.950000000000001),
 ('BU1111', '724-80-9391', 17.925),
 ('PC1035', '238-95-7766', 110.16)]

### Step 2

In [22]:
%%sql
with royals as (select titles.title_id,
titleauthor.au_id,
titles.price * sales.qty * (CAST(titles.royalty AS REAL) / 100 ) * (CAST(titleauthor.royaltyper AS REAL) / 100) as royal
FROM
sales
left join titles
on sales.title_id = titles.title_id
left join titleauthor
on titles.title_id = titleauthor.title_id)
select title_id, au_id, sum(royal) from royals
group by title_id, au_id
order by title_id desc

 * sqlite:///publications.db
Done.

[('TC7777', '267-41-2394', 8.994000000000002),
 ('TC7777', '472-27-2349', 8.994000000000002),
 ('TC7777', '672-71-3249', 11.992000000000003),
 ('TC4203', '648-92-1872', 33.46),
 ('TC3218', '807-91-6654', 83.80000000000001),
 ('PS7777', '486-29-1786', 19.975),
 ('PS3333', '172-32-1176', 29.985),
 ('PS2106', '998-72-3567', 17.5),
 ('PS2091', '899-46-2035', 70.95599999999999),
 ('PS2091', '998-72-3567', 70.95599999999999),
 ('PS1372', '724-80-9391', 10.795000000000002),
 ('PS1372', '756-30-7391', 32.385000000000005),
 ('PC8888', '427-17-2319', 50.0),
 ('PC8888', '846-92-7186', 50.0),
 ('PC1035', '238-95-7766', 110.16),
 ('MC3021', '722-51-5454', 21.528),
 ('MC3021', '899-46-2035', 7.175999999999999),
 ('MC2222', '712-45-1867', 23.987999999999996),
 ('BU7832', '274-80-9391', 29.985),
 ('BU2075', '213-46-8915', 25.116),
 ('BU1111', '267-41-2394', 11.950000000000001),
 ('BU1111', '724-80-9391', 17.925),
 ('BU1032', '213-46-8915', 11.994),
 ('BU1032', '409-56-7008', 17.990999999999996)]

### Step 3

In [30]:
%%sql
with royals2 as (with royals as (select titles.title_id,
titleauthor.au_id,
titles.price * sales.qty * (CAST(titles.royalty AS REAL) / 100 ) * (CAST(titleauthor.royaltyper AS REAL) / 100) as royal
FROM
sales
left join titles
on sales.title_id = titles.title_id
left join titleauthor
on titles.title_id = titleauthor.title_id)
select title_id, au_id, sum(royal) as aggroyal from royals
group by title_id, au_id)
select royals2.au_id, royals2.aggroyal + titles.advance as profit
from royals2
join titles
on royals2.title_id = titles.title_id
group by royals2.au_id
order by profit desc

 * sqlite:///publications.db
Done.

[('722-51-5454', 15021.528),
 ('899-46-2035', 15007.176),
 ('846-92-7186', 8050.0),
 ('427-17-2319', 8050.0),
 ('672-71-3249', 8011.992),
 ('472-27-2349', 8008.994),
 ('238-95-7766', 7110.16),
 ('807-91-6654', 7083.8),
 ('756-30-7391', 7032.385),
 ('274-80-9391', 5029.985),
 ('409-56-7008', 5017.991),
 ('724-80-9391', 5017.925),
 ('213-46-8915', 5011.994),
 ('267-41-2394', 5011.95),
 ('648-92-1872', 4033.46),
 ('486-29-1786', 4019.975),
 ('998-72-3567', 2345.956),
 ('172-32-1176', 2029.985),
 ('712-45-1867', 23.987999999999996)]

## Challenge 2

In [32]:
%%sql
CREATE TABLE 'most_profiting_authors' (
  'au_id' varchar(40) NOT NULL PRIMARY KEY
,  'profits' real DEFAULT NULL
)

 * sqlite:///publications.db
Done.

[]

In [34]:
%%sql
select * from
most_profiting_authors

 * sqlite:///publications.db
Done.

[]

In [35]:
%%sql
insert into most_profiting_authors
with royals2 as (with royals as (select titles.title_id,
titleauthor.au_id,
titles.price * sales.qty * (CAST(titles.royalty AS REAL) / 100 ) * (CAST(titleauthor.royaltyper AS REAL) / 100) as royal
FROM
sales
left join titles
on sales.title_id = titles.title_id
left join titleauthor
on titles.title_id = titleauthor.title_id)
select title_id, au_id, sum(royal) as aggroyal from royals
group by title_id, au_id)
select royals2.au_id, royals2.aggroyal + titles.advance as profit
from royals2
join titles
on royals2.title_id = titles.title_id
group by royals2.au_id
order by profit desc

 * sqlite:///publications.db
19 rows affected.

[]

In [36]:
%%sql
select * from
most_profiting_authors

 * sqlite:///publications.db
Done.

[('722-51-5454', 15021.528),
 ('899-46-2035', 15007.176),
 ('846-92-7186', 8050.0),
 ('427-17-2319', 8050.0),
 ('672-71-3249', 8011.992),
 ('472-27-2349', 8008.994),
 ('238-95-7766', 7110.16),
 ('807-91-6654', 7083.8),
 ('756-30-7391', 7032.385),
 ('274-80-9391', 5029.985),
 ('409-56-7008', 5017.991),
 ('724-80-9391', 5017.925),
 ('213-46-8915', 5011.994),
 ('267-41-2394', 5011.95),
 ('648-92-1872', 4033.46),
 ('486-29-1786', 4019.975),
 ('998-72-3567', 2345.956),
 ('172-32-1176', 2029.985),
 ('712-45-1867', 23.987999999999996)]