In [1]:
%load_ext sql

In [2]:
%sql sqlite:///publications.db

In [3]:
%%sql 
select * from sqlite_master

 * sqlite:///publications.db
Done.

[('table', 'authors', 'authors', 2, 'CREATE TABLE `authors` (\n  `au_id` varchar(11) NOT NULL\n,  `au_lname` varchar(40) NOT NULL\n,  `au_fname` varchar(20) NOT NULL\n,  `phone` char(12) ... (60 characters truncated) ... varchar(20) DEFAULT NULL\n,  `state` char(2) DEFAULT NULL\n,  `zip` char(5) DEFAULT NULL\n,  `contract` integer NOT NULL\n,  PRIMARY KEY (`au_id`)\n)'),
 ('index', 'sqlite_autoindex_authors_1', 'authors', 3, None),
 ('table', 'discounts', 'discounts', 4, 'CREATE TABLE `discounts` (\n  `discounttype` varchar(40) NOT NULL\n,  `stor_id` char(4) DEFAULT NULL\n,  `lowqty` integer DEFAULT NULL\n,  `highqty`  ... (37 characters truncated) ... ecimal(4,2) NOT NULL\n,  CONSTRAINT `discounts_ibfk_1` FOREIGN KEY (`stor_id`) REFERENCES `stores` (`stor_id`) ON DELETE CASCADE ON UPDATE CASCADE\n)'),
 ('table', 'employee', 'employee', 5, 'CREATE TABLE `employee` (\n  `emp_id` char(9) NOT NULL\n,  `fname` varchar(20) NOT NULL\n,  `minit` char(1) DEFAULT NULL\n,  `lname` varchar(30) NOT  ... (262 characters truncated) ... E ON UPDATE CASCADE\n,  CONSTRAINT `employee_ibfk_2` FOREIGN KEY (`pub_id`) REFERENCES `publishers` (`pub_id`) ON DELETE CASCADE ON UPDATE CASCADE\n)'),
 ('index', 'sqlite_autoindex_employee_1', 'employee', 6, None),
 ('table', 'jobs', 'jobs', 7, 'CREATE TABLE `jobs` (\n  `job_id` integer NOT NULL\n,  `job_desc` varchar(50) NOT NULL\n,  `min_lvl` integer NOT NULL\n,  `max_lvl` integer NOT NULL\n,  PRIMARY KEY (`job_id`)\n)'),
 ('table', 'pub_info', 'pub_info', 8, 'CREATE TABLE `pub_info` (\n  `pub_id` char(4) NOT NULL\n,  `logo` longblob DEFAULT NULL\n,  `pr_info` longtext DEFAULT NULL\n,  PRIMARY KEY (`pub_id`)\n,  CONSTRAINT `pub_info_ibfk_1` FOREIGN KEY (`pub_id`) REFERENCES `publishers` (`pub_id`) ON DELETE CASCADE ON UPDATE CASCADE\n)'),
 ('index', 'sqlite_autoindex_pub_info_1', 'pub_info', 9, None),
 ('table', 'publishers', 'publishers', 34, 'CREATE TABLE `publishers` (\n  `pub_id` char(4) NOT NULL\n,  `pub_name` varchar(40) DEFAULT NULL\n,  `city` varchar(20) DEFAULT NULL\n,  `state` char(2) DEFAULT NULL\n,  `country` varchar(30) DEFAULT NULL\n,  PRIMARY KEY (`pub_id`)\n)'),
 ('index', 'sqlite_autoindex_publishers_1', 'publishers', 35, None),
 ('table', 'roysched', 'roysched', 36, 'CREATE TABLE `roysched` (\n  `title_id` varchar(6) NOT NULL\n,  `lorange` integer DEFAULT NULL\n,  `hirange` integer DEFAULT NULL\n,  `royalty` integer DEFAULT NULL\n,  CONSTRAINT `roysched_ibfk_1` FOREIGN KEY (`title_id`) REFERENCES `titles` (`title_id`) ON DELETE CASCADE ON UPDATE CASCADE\n)'),
 ('table', 'sales', 'sales', 37, 'CREATE TABLE `sales` (\n  `stor_id` char(4) NOT NULL\n,  `ord_num` varchar(20) NOT NULL\n,  `ord_date` datetime NOT NULL\n,  `qty` integer NOT NULL\n ... (218 characters truncated) ... CADE ON UPDATE CASCADE\n,  CONSTRAINT `sales_ibfk_2` FOREIGN KEY (`title_id`) REFERENCES `titles` (`title_id`) ON DELETE CASCADE ON UPDATE CASCADE\n)'),
 ('index', 'sqlite_autoindex_sales_1', 'sales', 38, None),
 ('table', 'stores', 'stores', 39, 'CREATE TABLE `stores` (\n  `stor_id` char(4) NOT NULL\n,  `stor_name` varchar(40) DEFAULT NULL\n,  `stor_address` varchar(40) DEFAULT NULL\n,  `city` varchar(20) DEFAULT NULL\n,  `state` char(2) DEFAULT NULL\n,  `zip` char(5) DEFAULT NULL\n,  PRIMARY KEY (`stor_id`)\n)'),
 ('index', 'sqlite_autoindex_stores_1', 'stores', 40, None),
 ('table', 'titleauthor', 'titleauthor', 41, 'CREATE TABLE `titleauthor` (\n  `au_id` varchar(11) NOT NULL\n,  `title_id` varchar(6) NOT NULL\n,  `au_ord` integer DEFAULT NULL\n,  `royaltyper` in ... (164 characters truncated) ... ADE ON UPDATE CASCADE\n,  CONSTRAINT `titleauthor_ibfk_2` FOREIGN KEY (`au_id`) REFERENCES `authors` (`au_id`) ON DELETE CASCADE ON UPDATE CASCADE\n)'),
 ('index', 'sqlite_autoindex_titleauthor_1', 'titleauthor', 42, None),
 ('table', 'titles', 'titles', 45, 'CREATE TABLE `titles` (\n  `title_id` varchar(6) NOT NULL\n,  `title` varchar(80) NOT NULL\n,  `type` char(12) NOT NULL\n,  `pub_id` char(4) DEFAULT  ... (234 characters truncated) ... MARY KEY (`title_id`)\n,  CONSTRAINT `titles_ibfk_1` FOREIGN KEY (`pub_id`) REFERENCES `publishers` (`pub_id`) ON DELETE CASCADE ON UPDATE CASCADE\n)'),
 ('index', 'sqlite_autoindex_titles_1', 'titles', 46, None),
 ('index', 'idx_titleauthor_titleauthor_title_id', 'titleauthor', 47, 'CREATE INDEX "idx_titleauthor_titleauthor_title_id" ON "titleauthor" (`title_id`)'),
 ('index', 'idx_discounts_discounts_stor_id', 'discounts', 48, 'CREATE INDEX "idx_discounts_discounts_stor_id" ON "discounts" (`stor_id`)'),
 ('index', 'idx_titles_titles_pub_id', 'titles', 49, 'CREATE INDEX "idx_titles_titles_pub_id" ON "titles" (`pub_id`)'),
 ('index', 'idx_employee_employee_job_id', 'employee', 50, 'CREATE INDEX "idx_employee_employee_job_id" ON "employee" (`job_id`)'),
 ('index', 'idx_employee_employee_pub_id', 'employee', 51, 'CREATE INDEX "idx_employee_employee_pub_id" ON "employee" (`pub_id`)'),
 ('index', 'idx_sales_sales_title_id', 'sales', 52, 'CREATE INDEX "idx_sales_sales_title_id" ON "sales" (`title_id`)'),
 ('index', 'idx_roysched_roysched_title_id', 'roysched', 53, 'CREATE INDEX "idx_roysched_roysched_title_id" ON "roysched" (`title_id`)'),
 ('view', 'Authors_info', 'Authors_info', 0, 'CREATE VIEW Authors_info as\nselect titleauthor.au_id as AUTHOR_ID, au_lname as LAST_NAME,  au_fname as FIRST_NAME, titles.title as TITLE, publishers ... (52 characters truncated) ... hor \non authors.au_id=titleauthor.au_id\njoin titles \non titleauthor.title_id=titles.title_id\njoin publishers \non publishers.pub_id=titles.pub_id'),
 ('view', 'Authors_title', 'Authors_title', 0, 'CREATE VIEW Authors_title as\nselect AUTHOR_ID, LAST_NAME, FIRST_NAME, PUBLISHER, count(*) TITLE\nfrom Authors_info\ngroup by AUTHOR_ID, PUBLISHER\norder by (AUTHOR_ID) desc'),
 ('view', 'Authorst', 'Authorst', 0, 'CREATE VIEW Authorst as\nselect AUTHOR_ID, LAST_NAME, FIRST_NAME, PUBLISHER, count(*) TITLE\nfrom Authors_info\ngroup by AUTHOR_ID, PUBLISHER\norder by (AUTHOR_ID) desc'),
 ('view', 'total_a', 'total_a', 0, 'CREATE VIEW total_a as\nselect titleauthor.au_id as AUTHOR_ID, au_lname as LAST_NAME,  au_fname as FIRST_NAME, sum (sales.qty) as TOTAL\nfrom authors ... (1 characters truncated) ... \njoin titleauthor \non authors.au_id=titleauthor.au_id\njoin sales \non titleauthor.title_id=sales.title_id\ngroup by AUTHOR_ID\norder by TOTAL desc')]

# Challenge 1
## Step 1:

In [31]:
%%sql
select sales.title_id as TITLE_ID, 
titleauthor.au_id as AUTHOR_ID,
round(titles.price * sales.qty * titles.royalty/100 * titleauthor.royaltyper/100,2) as ROYALTY
from sales
left join titleauthor
on sales.title_id =titleauthor.title_id
join titles
on sales.title_id=titles.title_id

order by TITLE_ID, AUTHOR_ID

 * sqlite:///publications.db
Done.

[('BU1032', '213-46-8915', 4.0),
 ('BU1032', '213-46-8915', 8.0),
 ('BU1032', '409-56-7008', 6.0),
 ('BU1032', '409-56-7008', 11.99),
 ('BU1111', '267-41-2394', 11.95),
 ('BU1111', '724-80-9391', 17.93),
 ('BU2075', '213-46-8915', 25.12),
 ('BU7832', '274-80-9391', 29.99),
 ('MC2222', '712-45-1867', 23.99),
 ('MC3021', '722-51-5454', 13.46),
 ('MC3021', '722-51-5454', 8.07),
 ('MC3021', '899-46-2035', 4.49),
 ('MC3021', '899-46-2035', 2.69),
 ('PC1035', '238-95-7766', 110.16),
 ('PC8888', '427-17-2319', 50.0),
 ('PC8888', '846-92-7186', 50.0),
 ('PS1372', '724-80-9391', 10.8),
 ('PS1372', '756-30-7391', 32.39),
 ('PS2091', '899-46-2035', 1.97),
 ('PS2091', '899-46-2035', 49.28),
 ('PS2091', '899-46-2035', 6.57),
 ('PS2091', '899-46-2035', 13.14),
 ('PS2091', '998-72-3567', 1.97),
 ('PS2091', '998-72-3567', 49.28),
 ('PS2091', '998-72-3567', 6.57),
 ('PS2091', '998-72-3567', 13.14),
 ('PS2106', '998-72-3567', 17.0),
 ('PS3333', '172-32-1176', 29.99),
 ('PS7777', '486-29-1786', 19.98),
 ('TC3218', '807-91-6654', 83.8),
 ('TC4203', '648-92-1872', 33.46),
 ('TC7777', '267-41-2394', 8.99),
 ('TC7777', '472-27-2349', 8.99),
 ('TC7777', '672-71-3249', 11.99)]

## Step 2

In [43]:
%%sql
select sales.title_id as TITLE_ID, 
titleauthor.au_id as AUTHOR_ID,
round(sum(titles.price * sales.qty * titles.royalty/100 * titleauthor.royaltyper/100),2) as ROYALTY
from sales
left join titleauthor
on sales.title_id =titleauthor.title_id
join titles
on sales.title_id=titles.title_id

group by sales.title_id,titleauthor.au_id
order by TITLE_ID, AUTHOR_ID

 * sqlite:///publications.db
Done.

[('BU1032', '213-46-8915', 11.99),
 ('BU1032', '409-56-7008', 17.99),
 ('BU1111', '267-41-2394', 11.95),
 ('BU1111', '724-80-9391', 17.93),
 ('BU2075', '213-46-8915', 25.12),
 ('BU7832', '274-80-9391', 29.99),
 ('MC2222', '712-45-1867', 23.99),
 ('MC3021', '722-51-5454', 21.53),
 ('MC3021', '899-46-2035', 7.18),
 ('PC1035', '238-95-7766', 110.16),
 ('PC8888', '427-17-2319', 50.0),
 ('PC8888', '846-92-7186', 50.0),
 ('PS1372', '724-80-9391', 10.8),
 ('PS1372', '756-30-7391', 32.39),
 ('PS2091', '899-46-2035', 70.96),
 ('PS2091', '998-72-3567', 70.96),
 ('PS2106', '998-72-3567', 17.0),
 ('PS3333', '172-32-1176', 29.99),
 ('PS7777', '486-29-1786', 19.98),
 ('TC3218', '807-91-6654', 83.8),
 ('TC4203', '648-92-1872', 33.46),
 ('TC7777', '267-41-2394', 8.99),
 ('TC7777', '472-27-2349', 8.99),
 ('TC7777', '672-71-3249', 11.99)]

## Step 3

In [52]:
%%sql
select 
titleauthor.au_id as AUTHOR_ID,
titles.advance + round(sum(titles.price * sales.qty * titles.royalty/100 * titleauthor.royaltyper/100),2) as PROFITS

from sales
left join titleauthor
on sales.title_id =titleauthor.title_id
join titles
on sales.title_id=titles.title_id

group by sales.title_id,titleauthor.au_id
order by PROFITS desc
limit(3)

 * sqlite:///publications.db
Done.

[('722-51-5454', 15021.53),
 ('899-46-2035', 15007.18),
 ('213-46-8915', 10150.12)]

# Challenge 2

In [54]:
%%sql
create view most_profiting_authors as
select 
titleauthor.au_id as AUTHOR_ID,
titles.advance + round(sum(titles.price * sales.qty * titles.royalty/100 * titleauthor.royaltyper/100),2) as PROFITS

from sales
left join titleauthor
on sales.title_id =titleauthor.title_id
join titles
on sales.title_id=titles.title_id

group by sales.title_id,titleauthor.au_id
order by PROFITS desc

 * sqlite:///publications.db
Done.

[]

In [55]:
%%sql
select *
from most_profiting_authors

 * sqlite:///publications.db
Done.

[('722-51-5454', 15021.53),
 ('899-46-2035', 15007.18),
 ('213-46-8915', 10150.12),
 ('427-17-2319', 8050.0),
 ('846-92-7186', 8050.0),
 ('672-71-3249', 8011.99),
 ('267-41-2394', 8008.99),
 ('472-27-2349', 8008.99),
 ('238-95-7766', 7110.16),
 ('807-91-6654', 7083.8),
 ('756-30-7391', 7032.39),
 ('724-80-9391', 7010.8),
 ('998-72-3567', 6017.0),
 ('274-80-9391', 5029.99),
 ('409-56-7008', 5017.99),
 ('724-80-9391', 5017.93),
 ('213-46-8915', 5011.99),
 ('267-41-2394', 5011.95),
 ('648-92-1872', 4033.46),
 ('486-29-1786', 4019.98),
 ('899-46-2035', 2345.96),
 ('998-72-3567', 2345.96),
 ('172-32-1176', 2029.99),
 ('712-45-1867', 23.99)]