# Lab | Advanced SQL

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///../20-lab-sql-select/publications.db

In [13]:
%%sql
select * from sqlite_master

 * sqlite:///../20-lab-sql-select/publications.db
Done.

[('table', 'authors', 'authors', 2, 'CREATE TABLE `authors` (\n  `au_id` varchar(11) NOT NULL\n,  `au_lname` varchar(40) NOT NULL\n,  `au_fname` varchar(20) NOT NULL\n,  `phone` char(12) ... (60 characters truncated) ... varchar(20) DEFAULT NULL\n,  `state` char(2) DEFAULT NULL\n,  `zip` char(5) DEFAULT NULL\n,  `contract` integer NOT NULL\n,  PRIMARY KEY (`au_id`)\n)'),
 ('index', 'sqlite_autoindex_authors_1', 'authors', 3, None),
 ('table', 'discounts', 'discounts', 4, 'CREATE TABLE `discounts` (\n  `discounttype` varchar(40) NOT NULL\n,  `stor_id` char(4) DEFAULT NULL\n,  `lowqty` integer DEFAULT NULL\n,  `highqty`  ... (37 characters truncated) ... ecimal(4,2) NOT NULL\n,  CONSTRAINT `discounts_ibfk_1` FOREIGN KEY (`stor_id`) REFERENCES `stores` (`stor_id`) ON DELETE CASCADE ON UPDATE CASCADE\n)'),
 ('table', 'employee', 'employee', 5, 'CREATE TABLE `employee` (\n  `emp_id` char(9) NOT NULL\n,  `fname` varchar(20) NOT NULL\n,  `minit` char(1) DEFAULT NULL\n,  `lname` varchar(30) NOT  ... (262 characters truncated) ... E ON UPDATE CASCADE\n,  CONSTRAINT `employee_ibfk_2` FOREIGN KEY (`pub_id`) REFERENCES `publishers` (`pub_id`) ON DELETE CASCADE ON UPDATE CASCADE\n)'),
 ('index', 'sqlite_autoindex_employee_1', 'employee', 6, None),
 ('table', 'jobs', 'jobs', 7, 'CREATE TABLE `jobs` (\n  `job_id` integer NOT NULL\n,  `job_desc` varchar(50) NOT NULL\n,  `min_lvl` integer NOT NULL\n,  `max_lvl` integer NOT NULL\n,  PRIMARY KEY (`job_id`)\n)'),
 ('table', 'pub_info', 'pub_info', 8, 'CREATE TABLE `pub_info` (\n  `pub_id` char(4) NOT NULL\n,  `logo` longblob DEFAULT NULL\n,  `pr_info` longtext DEFAULT NULL\n,  PRIMARY KEY (`pub_id`)\n,  CONSTRAINT `pub_info_ibfk_1` FOREIGN KEY (`pub_id`) REFERENCES `publishers` (`pub_id`) ON DELETE CASCADE ON UPDATE CASCADE\n)'),
 ('index', 'sqlite_autoindex_pub_info_1', 'pub_info', 9, None),
 ('table', 'publishers', 'publishers', 34, 'CREATE TABLE `publishers` (\n  `pub_id` char(4) NOT NULL\n,  `pub_name` varchar(40) DEFAULT NULL\n,  `city` varchar(20) DEFAULT NULL\n,  `state` char(2) DEFAULT NULL\n,  `country` varchar(30) DEFAULT NULL\n,  PRIMARY KEY (`pub_id`)\n)'),
 ('index', 'sqlite_autoindex_publishers_1', 'publishers', 35, None),
 ('table', 'roysched', 'roysched', 36, 'CREATE TABLE `roysched` (\n  `title_id` varchar(6) NOT NULL\n,  `lorange` integer DEFAULT NULL\n,  `hirange` integer DEFAULT NULL\n,  `royalty` integer DEFAULT NULL\n,  CONSTRAINT `roysched_ibfk_1` FOREIGN KEY (`title_id`) REFERENCES `titles` (`title_id`) ON DELETE CASCADE ON UPDATE CASCADE\n)'),
 ('table', 'sales', 'sales', 37, 'CREATE TABLE `sales` (\n  `stor_id` char(4) NOT NULL\n,  `ord_num` varchar(20) NOT NULL\n,  `ord_date` datetime NOT NULL\n,  `qty` integer NOT NULL\n ... (218 characters truncated) ... CADE ON UPDATE CASCADE\n,  CONSTRAINT `sales_ibfk_2` FOREIGN KEY (`title_id`) REFERENCES `titles` (`title_id`) ON DELETE CASCADE ON UPDATE CASCADE\n)'),
 ('index', 'sqlite_autoindex_sales_1', 'sales', 38, None),
 ('table', 'stores', 'stores', 39, 'CREATE TABLE `stores` (\n  `stor_id` char(4) NOT NULL\n,  `stor_name` varchar(40) DEFAULT NULL\n,  `stor_address` varchar(40) DEFAULT NULL\n,  `city` varchar(20) DEFAULT NULL\n,  `state` char(2) DEFAULT NULL\n,  `zip` char(5) DEFAULT NULL\n,  PRIMARY KEY (`stor_id`)\n)'),
 ('index', 'sqlite_autoindex_stores_1', 'stores', 40, None),
 ('table', 'titleauthor', 'titleauthor', 41, 'CREATE TABLE `titleauthor` (\n  `au_id` varchar(11) NOT NULL\n,  `title_id` varchar(6) NOT NULL\n,  `au_ord` integer DEFAULT NULL\n,  `royaltyper` in ... (164 characters truncated) ... ADE ON UPDATE CASCADE\n,  CONSTRAINT `titleauthor_ibfk_2` FOREIGN KEY (`au_id`) REFERENCES `authors` (`au_id`) ON DELETE CASCADE ON UPDATE CASCADE\n)'),
 ('index', 'sqlite_autoindex_titleauthor_1', 'titleauthor', 42, None),
 ('table', 'titles', 'titles', 45, 'CREATE TABLE `titles` (\n  `title_id` varchar(6) NOT NULL\n,  `title` varchar(80) NOT NULL\n,  `type` char(12) NOT NULL\n,  `pub_id` char(4) DEFAULT  ... (234 characters truncated) ... MARY KEY (`title_id`)\n,  CONSTRAINT `titles_ibfk_1` FOREIGN KEY (`pub_id`) REFERENCES `publishers` (`pub_id`) ON DELETE CASCADE ON UPDATE CASCADE\n)'),
 ('index', 'sqlite_autoindex_titles_1', 'titles', 46, None),
 ('index', 'idx_titleauthor_titleauthor_title_id', 'titleauthor', 47, 'CREATE INDEX "idx_titleauthor_titleauthor_title_id" ON "titleauthor" (`title_id`)'),
 ('index', 'idx_discounts_discounts_stor_id', 'discounts', 48, 'CREATE INDEX "idx_discounts_discounts_stor_id" ON "discounts" (`stor_id`)'),
 ('index', 'idx_titles_titles_pub_id', 'titles', 49, 'CREATE INDEX "idx_titles_titles_pub_id" ON "titles" (`pub_id`)'),
 ('index', 'idx_employee_employee_job_id', 'employee', 50, 'CREATE INDEX "idx_employee_employee_job_id" ON "employee" (`job_id`)'),
 ('index', 'idx_employee_employee_pub_id', 'employee', 51, 'CREATE INDEX "idx_employee_employee_pub_id" ON "employee" (`pub_id`)'),
 ('index', 'idx_sales_sales_title_id', 'sales', 52, 'CREATE INDEX "idx_sales_sales_title_id" ON "sales" (`title_id`)'),
 ('index', 'idx_roysched_roysched_title_id', 'roysched', 53, 'CREATE INDEX "idx_roysched_roysched_title_id" ON "roysched" (`title_id`)')]

## Challenge 1 - Most Profiting Authors

In this challenge let's have a close look at the bonus challenge of the previous *SQL SELECT* lab -- **who are the top 3 most profiting authors**? Even if you have solved or think you have solved that problem in the previous lab, please still complete this challenge because the step-by-step guidances are helpful to train your problem-solving thinking.

In order to solve this problem, it is important for you to keep the following points in mind:

* In table `sales`, a title can appear several times. The royalties need to be calculated for each sale.

* Despite a title can have multiple `sales` records, the advance must be calculated only once for each title.

* In your eventual solution, you need to sum up the following profits for each individual author:
    * All advances which is calculated exactly once for each title.
    * All royalties in each sale.

Therefore, you will not be able to achieve the goal with a single SELECT query. Instead, you will need to follow several steps in order to achieve the eventual solution. Below is an overview of the steps:

1. Calculate the royalty of each sale for each author.

1. Using the output from Step 1 as a sub-table, aggregate the total royalties for each title for each author.

1. Using the output from Step 2 as a sub-table, calculate the total profits of each author by aggregating the advances and total royalties of each title.

Below we'll guide you through each step. In your `solutions.ipynb`, please include the SELECT queries of each step so that your TA can review your problem-solving process.

### Step 1: Calculate the royalties of each sales for each author

Write a SELECT query to obtain the following output:

* Title ID
* Author ID
* Royalty of each sale for each author
    * The formula is:
        ```
        sales_royalty = titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100
        ```
    * Note that `titles.royalty` and `titleauthor.royaltyper` are divided by 100 respectively because they are percentage numbers instead of floats.

In the output of this step, each title may appear more than once for each author. This is because a title can have more than one sales.

sales_royalty = titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100

In [48]:
%%sql
select titleauthor.title_id as TITLE_ID, titleauthor.au_id as AUTHOR_ID,
(titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100) as SALES_ROYALTY
from titleauthor
left join titles
    on titleauthor.title_id=titles.title_id
left join sales
    on titleauthor.title_id=sales.title_id

 * sqlite:///../20-lab-sql-select/publications.db
Done.

[('PS3333', '172-32-1176', 29.984999999999996),
 ('BU1032', '213-46-8915', 3.9979999999999993),
 ('BU1032', '213-46-8915', 7.995999999999999),
 ('BU2075', '213-46-8915', 25.116000000000003),
 ('PC1035', '238-95-7766', 110.16),
 ('BU1111', '267-41-2394', 11.95),
 ('TC7777', '267-41-2394', 8.994),
 ('BU7832', '274-80-9391', 29.984999999999996),
 ('BU1032', '409-56-7008', 5.996999999999999),
 ('BU1032', '409-56-7008', 11.993999999999998),
 ('PC8888', '427-17-2319', 50),
 ('TC7777', '472-27-2349', 8.994),
 ('PC9999', '486-29-1786', None),
 ('PS7777', '486-29-1786', 19.975),
 ('TC4203', '648-92-1872', 33.46),
 ('TC7777', '672-71-3249', 11.992),
 ('MC2222', '712-45-1867', 23.987999999999996),
 ('MC3021', '722-51-5454', 13.455),
 ('MC3021', '722-51-5454', 8.073),
 ('BU1111', '724-80-9391', 17.925),
 ('PS1372', '724-80-9391', 10.795),
 ('PS1372', '756-30-7391', 32.385),
 ('TC3218', '807-91-6654', 83.8),
 ('PC8888', '846-92-7186', 50),
 ('MC3021', '899-46-2035', 4.485),
 ('MC3021', '899-46-2035', 2.6910000000000003),
 ('PS2091', '899-46-2035', 1.9709999999999996),
 ('PS2091', '899-46-2035', 49.275),
 ('PS2091', '899-46-2035', 6.57),
 ('PS2091', '899-46-2035', 13.14),
 ('PS2091', '998-72-3567', 1.9709999999999996),
 ('PS2091', '998-72-3567', 49.275),
 ('PS2091', '998-72-3567', 6.57),
 ('PS2091', '998-72-3567', 13.14),
 ('PS2106', '998-72-3567', 17)]

### Step 2: Aggregate the total royalties for each title for each author

Using the output from Step 1, write a query to obtain the following output:

* Title ID
* Author ID
* Aggregated royalties of each title for each author
    * Hint: use the *SUM* subquery and group by both `au_id` and `title_id`

In the output of this step, each title should appear only once for each author.

In [34]:
%%sql
with cte as
(select titleauthor.title_id as TITLE_ID, titleauthor.au_id as AUTHOR_ID,
(titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100) as SALES_ROYALTY
from titleauthor
left join titles
    on titleauthor.title_id=titles.title_id
left join sales
    on titleauthor.title_id=sales.title_id)
select TITLE_ID,  AUTHOR_ID, sum(SALES_ROYALTY) as SALES_ROYALTY
from cte
group by TITLE_ID,AUTHOR_ID
order by SALES_ROYALTY desc

 * sqlite:///../20-lab-sql-select/publications.db
Done.

[('PC1035', '238-95-7766', 110.16),
 ('TC3218', '807-91-6654', 83.8),
 ('PS2091', '899-46-2035', 70.95599999999999),
 ('PS2091', '998-72-3567', 70.95599999999999),
 ('PC8888', '427-17-2319', 50),
 ('PC8888', '846-92-7186', 50),
 ('TC4203', '648-92-1872', 33.46),
 ('PS1372', '756-30-7391', 32.385),
 ('PS3333', '172-32-1176', 29.984999999999996),
 ('BU7832', '274-80-9391', 29.984999999999996),
 ('BU2075', '213-46-8915', 25.116000000000003),
 ('MC2222', '712-45-1867', 23.987999999999996),
 ('MC3021', '722-51-5454', 21.528),
 ('PS7777', '486-29-1786', 19.975),
 ('BU1032', '409-56-7008', 17.990999999999996),
 ('BU1111', '724-80-9391', 17.925),
 ('PS2106', '998-72-3567', 17),
 ('BU1032', '213-46-8915', 11.993999999999998),
 ('TC7777', '672-71-3249', 11.992),
 ('BU1111', '267-41-2394', 11.95),
 ('PS1372', '724-80-9391', 10.795),
 ('TC7777', '267-41-2394', 8.994),
 ('TC7777', '472-27-2349', 8.994),
 ('MC3021', '899-46-2035', 7.176),
 ('PC9999', '486-29-1786', None)]

### Step 3: Calculate the total profits of each author

Now that each title has exactly one row for each author where the advance and royalties are available, we are ready to obtain the eventual output. Using the output from Step 2, write a query to obtain the following output:

* Author ID
* Profits of each author by aggregating the advance and total royalties of each title

Sort the output based on a total profits from high to low, and limit the number of rows to 3.

In [49]:
%%sql
with subquery as(
with cte as
(select titleauthor.title_id as TITLE_ID, titleauthor.au_id as AUTHOR_ID,
(titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100) as SALES_ROYALTY
from titleauthor
left join titles
    on titleauthor.title_id=titles.title_id
left join sales
    on titleauthor.title_id=sales.title_id)
select TITLE_ID,  AUTHOR_ID, sum(SALES_ROYALTY) as SALES_ROYALTY
from cte
group by TITLE_ID,AUTHOR_ID)
select AUTHOR_ID, SALES_ROYALTY+titles.advance as PROFITS
from subquery
inner join titles
     on subquery.title_id=Titles.title_id
order by profits desc
limit 3

 * sqlite:///../20-lab-sql-select/publications.db
Done.

[('722-51-5454', 15021.528),
 ('899-46-2035', 15007.176),
 ('213-46-8915', 10150.116)]

## Challenge 2

Elevating from your solution in Challenge 1 , create a table named `most_profiting_authors` to hold the data about the most profiting authors. The table should have 2 columns:

* `au_id` - Author ID
* `profits` - The profits of the author aggregating the advances and royalties

Include your solution in `solutions.ipynb`.

In [50]:
%%sql
create table "most_profiting_authors" as 
with subquery as(
with cte as
(select titleauthor.title_id as TITLE_ID, titleauthor.au_id as AUTHOR_ID,
(titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100) as SALES_ROYALTY
from titleauthor
left join titles
    on titleauthor.title_id=titles.title_id
left join sales
    on titleauthor.title_id=sales.title_id)
select TITLE_ID,  AUTHOR_ID, sum(SALES_ROYALTY) as SALES_ROYALTY
from cte
group by TITLE_ID,AUTHOR_ID)
select AUTHOR_ID, SALES_ROYALTY+titles.advance as PROFITS
from subquery
inner join titles
     on subquery.title_id=Titles.title_id
order by profits desc

 * sqlite:///../20-lab-sql-select/publications.db
Done.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [52]:
%%sql
select * from most_profiting_authors

 * sqlite:///../20-lab-sql-select/publications.db
Done.

[('722-51-5454', 15021.528),
 ('899-46-2035', 15007.176),
 ('213-46-8915', 10150.116),
 ('427-17-2319', 8050),
 ('846-92-7186', 8050),
 ('672-71-3249', 8011.992),
 ('267-41-2394', 8008.994),
 ('472-27-2349', 8008.994),
 ('238-95-7766', 7110.16),
 ('807-91-6654', 7083.8),
 ('756-30-7391', 7032.385),
 ('724-80-9391', 7010.795),
 ('998-72-3567', 6017),
 ('274-80-9391', 5029.985),
 ('409-56-7008', 5017.991),
 ('724-80-9391', 5017.925),
 ('213-46-8915', 5011.994),
 ('267-41-2394', 5011.95),
 ('648-92-1872', 4033.46),
 ('486-29-1786', 4019.975),
 ('899-46-2035', 2345.956),
 ('998-72-3567', 2345.956),
 ('172-32-1176', 2029.985),
 ('712-45-1867', 23.987999999999996),
 ('486-29-1786', None)]