## Challenge 1 - Most Profiting Authors

In [35]:
# In the previous Lab20, to calculate the royalties I used the filed 'ytd_sales' from the table 'titles'.
# According to the instructions of this Lab21, the data from the table 'sales' has to be used. If so, what does the 
# field 'ytd_sales' mean and how is it related to the 'sales' table??..

In [1]:
%load_ext sql

In [2]:
%sql sqlite://////Users/admin/Desktop/Ironhack/02-Codes/Labs/20-lab-sql-select/publications.db

### Step 1: Calculate the royalties of each sales for each author

In [36]:
%%sql
select 
    t.title_id,
    ta.au_id,
    s.stor_id,
    round(t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100, 2) as sales_royalty
from titleauthor ta
    inner join titles t 
        using (title_id)  
    inner join sales s
        using (title_id)
group by 1,2,3
order by 1,2,3

 * sqlite://////Users/admin/Desktop/Ironhack/02-Codes/Labs/20-lab-sql-select/publications.db
Done.

[('BU1032', '213-46-8915', '6380', 4.0),
 ('BU1032', '213-46-8915', '8042', 8.0),
 ('BU1032', '409-56-7008', '6380', 6.0),
 ('BU1032', '409-56-7008', '8042', 11.99),
 ('BU1111', '267-41-2394', '8042', 11.95),
 ('BU1111', '724-80-9391', '8042', 17.93),
 ('BU2075', '213-46-8915', '7896', 25.12),
 ('BU7832', '274-80-9391', '7896', 29.99),
 ('MC2222', '712-45-1867', '7896', 23.99),
 ('MC3021', '722-51-5454', '7131', 13.46),
 ('MC3021', '722-51-5454', '8042', 8.07),
 ('MC3021', '899-46-2035', '7131', 4.49),
 ('MC3021', '899-46-2035', '8042', 2.69),
 ('PC1035', '238-95-7766', '8042', 110.16),
 ('PC8888', '427-17-2319', '7066', 50.0),
 ('PC8888', '846-92-7186', '7066', 50.0),
 ('PS1372', '724-80-9391', '7131', 10.8),
 ('PS1372', '756-30-7391', '7131', 32.39),
 ('PS2091', '899-46-2035', '6380', 1.97),
 ('PS2091', '899-46-2035', '7066', 49.28),
 ('PS2091', '899-46-2035', '7067', 6.57),
 ('PS2091', '899-46-2035', '7131', 13.14),
 ('PS2091', '998-72-3567', '6380', 1.97),
 ('PS2091', '998-72-3567', '7066', 49.28),
 ('PS2091', '998-72-3567', '7067', 6.57),
 ('PS2091', '998-72-3567', '7131', 13.14),
 ('PS2106', '998-72-3567', '7131', 17.0),
 ('PS3333', '172-32-1176', '7131', 29.99),
 ('PS7777', '486-29-1786', '7131', 19.98),
 ('TC3218', '807-91-6654', '7067', 83.8),
 ('TC4203', '648-92-1872', '7067', 33.46),
 ('TC7777', '267-41-2394', '7067', 8.99),
 ('TC7777', '472-27-2349', '7067', 8.99),
 ('TC7777', '672-71-3249', '7067', 11.99)]

### Step 2: Aggregate the total royalties for each title for each author

In [38]:
%%sql
select 
    title_id,
    au_id,
    round(sum(sales_royalty), 2) as total_royalties_per_title_per_author
from (
    select 
        t.title_id,
        ta.au_id,
        s.stor_id,
        round(t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100, 2) as sales_royalty
    from titleauthor ta
        inner join titles t 
            using (title_id)  
        inner join sales s
            using (title_id)
    group by 1,2,3
    )
group by 1,2
order by 1,2

 * sqlite://////Users/admin/Desktop/Ironhack/02-Codes/Labs/20-lab-sql-select/publications.db
Done.

[('BU1032', '213-46-8915', 12.0),
 ('BU1032', '409-56-7008', 17.99),
 ('BU1111', '267-41-2394', 11.95),
 ('BU1111', '724-80-9391', 17.93),
 ('BU2075', '213-46-8915', 25.12),
 ('BU7832', '274-80-9391', 29.99),
 ('MC2222', '712-45-1867', 23.99),
 ('MC3021', '722-51-5454', 21.53),
 ('MC3021', '899-46-2035', 7.18),
 ('PC1035', '238-95-7766', 110.16),
 ('PC8888', '427-17-2319', 50.0),
 ('PC8888', '846-92-7186', 50.0),
 ('PS1372', '724-80-9391', 10.8),
 ('PS1372', '756-30-7391', 32.39),
 ('PS2091', '899-46-2035', 70.96),
 ('PS2091', '998-72-3567', 70.96),
 ('PS2106', '998-72-3567', 17.0),
 ('PS3333', '172-32-1176', 29.99),
 ('PS7777', '486-29-1786', 19.98),
 ('TC3218', '807-91-6654', 83.8),
 ('TC4203', '648-92-1872', 33.46),
 ('TC7777', '267-41-2394', 8.99),
 ('TC7777', '472-27-2349', 8.99),
 ('TC7777', '672-71-3249', 11.99)]

### Step 3: Calculate the total profits of each author

In [39]:
%%sql
select 
    t.title_id,
    ta.au_id,
    round(coalesce(t.advance,0) * ta.royaltyper / 100, 2) as advance_per_title_per_author
from titleauthor ta
    inner join titles t 
        using (title_id)  
group by 1,2
order by 1,2

 * sqlite://////Users/admin/Desktop/Ironhack/02-Codes/Labs/20-lab-sql-select/publications.db
Done.

[('BU1032', '213-46-8915', 2000.0),
 ('BU1032', '409-56-7008', 3000.0),
 ('BU1111', '267-41-2394', 2000.0),
 ('BU1111', '724-80-9391', 3000.0),
 ('BU2075', '213-46-8915', 10125.0),
 ('BU7832', '274-80-9391', 5000.0),
 ('MC2222', '712-45-1867', 0.0),
 ('MC3021', '722-51-5454', 11250.0),
 ('MC3021', '899-46-2035', 3750.0),
 ('PC1035', '238-95-7766', 7000.0),
 ('PC8888', '427-17-2319', 4000.0),
 ('PC8888', '846-92-7186', 4000.0),
 ('PC9999', '486-29-1786', 0.0),
 ('PS1372', '724-80-9391', 1750.0),
 ('PS1372', '756-30-7391', 5250.0),
 ('PS2091', '899-46-2035', 1137.0),
 ('PS2091', '998-72-3567', 1137.0),
 ('PS2106', '998-72-3567', 6000.0),
 ('PS3333', '172-32-1176', 2000.0),
 ('PS7777', '486-29-1786', 4000.0),
 ('TC3218', '807-91-6654', 7000.0),
 ('TC4203', '648-92-1872', 4000.0),
 ('TC7777', '267-41-2394', 2400.0),
 ('TC7777', '472-27-2349', 2400.0),
 ('TC7777', '672-71-3249', 3200.0)]

In [40]:
%%sql
with royalties as (
    select 
        title_id,
        au_id,
        round(sum(sales_royalty), 2) as total_royalties_per_title_per_author
    from (
        select 
            t.title_id,
            ta.au_id,
            s.stor_id,
            round(t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100, 2) as sales_royalty
        from titleauthor ta
            inner join titles t 
                using (title_id)  
            inner join sales s
                using (title_id)
        group by 1,2,3
        )
    group by 1,2
    order by 1,2
    ),

advance as (
    select 
        t.title_id,
        ta.au_id,
        round(coalesce(t.advance,0) * ta.royaltyper / 100, 2) as advance_per_title_per_author
    from titleauthor ta
        inner join titles t 
            using (title_id)  
    group by 1,2
    order by 1,2
    )

select 
    r.title_id,
    r.au_id,
    r.total_royalties_per_title_per_author + a.advance_per_title_per_author as profit_per_title_per_author
from royalties r
    inner join advance a
        on r.title_id = a.title_id
            and r.au_id = a.au_id
group by 1,2
order by 2,1

 * sqlite://////Users/admin/Desktop/Ironhack/02-Codes/Labs/20-lab-sql-select/publications.db
Done.

[('PS3333', '172-32-1176', 2029.99),
 ('BU1032', '213-46-8915', 2012.0),
 ('BU2075', '213-46-8915', 10150.12),
 ('PC1035', '238-95-7766', 7110.16),
 ('BU1111', '267-41-2394', 2011.95),
 ('TC7777', '267-41-2394', 2408.99),
 ('BU7832', '274-80-9391', 5029.99),
 ('BU1032', '409-56-7008', 3017.99),
 ('PC8888', '427-17-2319', 4050.0),
 ('TC7777', '472-27-2349', 2408.99),
 ('PS7777', '486-29-1786', 4019.98),
 ('TC4203', '648-92-1872', 4033.46),
 ('TC7777', '672-71-3249', 3211.99),
 ('MC2222', '712-45-1867', 23.99),
 ('MC3021', '722-51-5454', 11271.53),
 ('BU1111', '724-80-9391', 3017.93),
 ('PS1372', '724-80-9391', 1760.8),
 ('PS1372', '756-30-7391', 5282.39),
 ('TC3218', '807-91-6654', 7083.8),
 ('PC8888', '846-92-7186', 4050.0),
 ('MC3021', '899-46-2035', 3757.18),
 ('PS2091', '899-46-2035', 1207.96),
 ('PS2091', '998-72-3567', 1207.96),
 ('PS2106', '998-72-3567', 6017.0)]

In [41]:
%%sql
with royalties as (
    select 
        title_id,
        au_id,
        round(sum(sales_royalty), 2) as total_royalties_per_title_per_author
    from (
        select 
            t.title_id,
            ta.au_id,
            s.stor_id,
            round(t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100, 2) as sales_royalty
        from titleauthor ta
            inner join titles t 
                using (title_id)  
            inner join sales s
                using (title_id)
        group by 1,2,3
        )
    group by 1,2
    order by 1,2
    ),

advance as (
    select 
        t.title_id,
        ta.au_id,
        round(coalesce(t.advance,0) * ta.royaltyper / 100, 2) as advance_per_title_per_author
    from titleauthor ta
        inner join titles t 
            using (title_id)  
    group by 1,2
    order by 1,2
    ),

profit_per_title as (
    select 
        r.title_id,
        r.au_id,
        r.total_royalties_per_title_per_author + a.advance_per_title_per_author as profit_per_title_per_author
    from royalties r
        inner join advance a
            on r.title_id = a.title_id
                and r.au_id = a.au_id
    group by 1,2
    order by 2,1
    )

select 
    au_id,
    sum(profit_per_title_per_author) as profit_per_author
from profit_per_title
group by 1
order by profit_per_author desc
limit 3

 * sqlite://////Users/admin/Desktop/Ironhack/02-Codes/Labs/20-lab-sql-select/publications.db
Done.

[('213-46-8915', 12162.12),
 ('722-51-5454', 11271.53),
 ('998-72-3567', 7224.96)]

## Challenge 2

In [42]:
%%sql
CREATE TABLE most_profiting_authors (
    au_id varchar(40) NOT NULL PRIMARY KEY,
    profits real DEFAULT NULL
)

 * sqlite://////Users/admin/Desktop/Ironhack/02-Codes/Labs/20-lab-sql-select/publications.db
Done.

[]

In [43]:
%%sql
select * from most_profiting_authors

 * sqlite://////Users/admin/Desktop/Ironhack/02-Codes/Labs/20-lab-sql-select/publications.db
Done.

[]

In [44]:
%%sql
insert into most_profiting_authors
with royalties as (
    select 
        title_id,
        au_id,
        round(sum(sales_royalty), 2) as total_royalties_per_title_per_author
    from (
        select 
            t.title_id,
            ta.au_id,
            s.stor_id,
            round(t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100, 2) as sales_royalty
        from titleauthor ta
            inner join titles t 
                using (title_id)  
            inner join sales s
                using (title_id)
        group by 1,2,3
        )
    group by 1,2
    order by 1,2
    ),

advance as (
    select 
        t.title_id,
        ta.au_id,
        round(coalesce(t.advance,0) * ta.royaltyper / 100, 2) as advance_per_title_per_author
    from titleauthor ta
        inner join titles t 
            using (title_id)  
    group by 1,2
    order by 1,2
    ),

profit_per_title as (
    select 
        r.title_id,
        r.au_id,
        r.total_royalties_per_title_per_author + a.advance_per_title_per_author as profit_per_title_per_author
    from royalties r
        inner join advance a
            on r.title_id = a.title_id
                and r.au_id = a.au_id
    group by 1,2
    order by 2,1
    )

select 
    au_id,
    sum(profit_per_title_per_author) as profit_per_author
from profit_per_title
group by 1
order by profit_per_author desc
limit 3

 * sqlite://////Users/admin/Desktop/Ironhack/02-Codes/Labs/20-lab-sql-select/publications.db
3 rows affected.

[]

In [45]:
%%sql
select * from most_profiting_authors

 * sqlite://////Users/admin/Desktop/Ironhack/02-Codes/Labs/20-lab-sql-select/publications.db
Done.

[('213-46-8915', 12162.12),
 ('722-51-5454', 11271.53),
 ('998-72-3567', 7224.96)]